<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">

    <bean id="wxMpService" class="com.fz.us.core.mp.WxEchoMpServiceImpl">
        <property name="wxMpConfigStorage" ref="wxMpConfigStorage">
        </property>
    </bean>
    <bean id="wxMpConfigStorage" class="com.fz.us.core.mp.WxMpInCacheConfigStorage">
        <property name="appId" value="${wxMpStorage.appId}" />
        <property name="secret" value="${wxMpStorage.secret}" />
        <property name="accessToken" value="${wxMpStorage.accessToken}" />
        <property name="expiresIn" value="${wxMpStorage.expiresIn}" />
        <property name="token" value="${wxMpStorage.token}" />
        <property name="aesKey" value="${wxMpStorage.aesKey}" />
        <property name="host" value="${wxMpStorage.host}" />
        <property name="version" value="${wxMpStorage.version}" />
        <property name="oauth2redirectUri" value="http://${wxMpStorage.host}${wxMpStorage.oauth2redirectUri}" />
    </bean>

    <bean id="wxEchoMpMessageRouter" class="com.fz.us.core.mp.WxEchoMpMessageRouter">
    </bean>

    <!--针对不同的处理使用不同的handle
    <bean id="wxEchoMpMessageHandler" class="me.chanjar.weixin.mp.api.WxEchoMpMessageHandler"></bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">

        <property name="targetObject" ref="wxMpMessageRouter" />
        <property name="targetMethod" value="prepare" />
    </bean>
    -->
    <!--WxEchoMpMessageHandler-->
    <bean id="wxEchoMpMessageHandler" class="com.fz.us.core.mp.WxEchoMpMessageHandler">

    </bean>

    <bean id="wxEchoMpMessageRouteResolver" class="com.fz.us.core.mp.WxEchoMpMessageRouteResolver">
        <property name="async" value="false"></property>
        <property name="wxEchoMpMessageRouter" ref="wxEchoMpMessageRouter"></property>
        <property name="wxEchoMpMessageHandler" ref="wxEchoMpMessageHandler"></property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <!-- targetObject确定目标Bean，指定调用哪个Bean -->
        <property name="targetObject" ref="wxEchoMpMessageRouteResolver" />
        <!-- targetMethod确定目标方法，指定调用目标Bean的哪个方法 -->
        <property name="targetMethod" value="prepareRoute" />
    </bean>

</beans>