<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">

    <!-- Curator的FactoryBean，Spring启动时创建Curator实例。 -->
    <bean id="zookeeperFactoryBean" class="me.j360.web.zookeeper.log.ZookeeperFactoryBean" lazy-init="false">
        <property name="zkConnectionString" value="${zookeeper.connect_string}"/>
        <!-- 设置zookeeper的事件监听者，本例是一个logback日志级别znode监听器 -->
        <property name="listeners">
            <list>
                <bean class="me.j360.web.zookeeper.log.LogbackLevelListener">
                    <constructor-arg value="/cxf/properties"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>