<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">

	<description>Email配置</description>

	<!-- 文本邮件服务类 -->
	<bean id="simpleMailService"
		class="com.fz.us.base.service.common.SimpleMailService">
		<property name="mailSender" ref="mailSender" />
		<property name="textTemplate">
			<value><![CDATA[
			%s,欢迎注册智慧销售云服务 SmartSales Cloud，注册时间为%tF。
			请复制下面的链接到浏览器地址栏完成邮件验证功能，验证后您可以登录 http://www.smart-sales.cn 使用销售云服务。
			
			%s
			
			【注】该邮件由系统自动发送，请勿回复!
			]]></value>
		</property>
	</bean>

	<!-- MIME邮件服务类 -->
	<bean id="mimeMailService"
		class="com.fz.us.base.service.common.MimeMailService">
		<property name="mailSender" ref="mailSender" />
		<property name="freemarkerConfiguration" ref="freemarkerConfiguration" />
	</bean>

	<!-- 用于生成HTML邮件内容的Freemarker配置 -->
	<bean id="freemarkerConfiguration"
		class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPath" value="classpath:/email" />
	</bean>

	<!-- 邮件发送器 -->
	<!-- smart_sales_cn@163.com password -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.exmail.qq.com" />
		<property name="username" value="system@smart-sales.cn" />
		<property name="password" value="smartsales2014" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<!-- 使用gmail smtp server的必须参数 -->
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

</beans>
